<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <p><span class="bg-light font-weight-bold px-3">イベント詳細</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col offset-md-1">
      <table>
        <tr>
          <td class="pt-3 pr-5">イベント名</td>
          <td class="pt-3"><%= @event.name %></td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">主催者</td>
          <td class="pt-3">
            <%= link_to organizer_path(@event.organizer.id) do %>
              <%= @event.organizer.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">イベント詳細</td>
          <td class="pt-3"><%=safe_join(@event.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">開催日</td>
          <td class="pt-3"><%= @event.date.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">スケジュール</td>
          <td class="pt-3"><%=safe_join(@event.schedule.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">募集人数</td>
          <td class="pt-3"><%= @event.number_of_people %>名</td>
        </tr>
        <tr>
          <td class="pt-3 pr-5">募集ステータス</td>
          <td class="pt-3">
            <% if @event.is_recruiting == true %>
              <p class="text-success m-0"><strong>募集中</strong></p>
            <% else %>
              <p class="text-secondary m-0">締切</p>
            <% end %>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
  
  
  <% @event.participation_users.each do |user| %>
    <%= user.last_name %>
  <% end %>

  
  <div class="row justify-content-center">
    <% unless @event.participation_users.exists?(id: current_user.id) %>
      <%= form_with model: @participation, url: confirm_path do |f| %>
        <div class="form-inline">
          <%= f.hidden_field :event_id, :value => @event.id %>
          <%= f.submit "応募する", class: "btn btn-success px-3 mx-3" %>
        </div>
      <% end %>
    <% else %>
    　　
    <% end %>
  </div>
</div>