<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-2">主催者詳細編集</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @organizer.errors.any? %>
        <%= @organizer.errors.count %>件のエラーが発生しました
        <ul>
          <% @organizer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= form_with model: @organizer, url: admin_organizer_path do |f| %>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-borderless">
          <tr>
            <th class="col-3"><%= f.label :name, "主催者名" %></th>
            <td><%= f.text_field :name, autocomplete: "name", placeholder: "主催者名", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :introduction, "概要" %></th>
            <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "ここに概要を記述します", style: "width:100%", rows: "5" %></td>
          </tr>
          <tr>
            <th><%= f.label :postal_code, "郵便番号" %></th>
            <td><%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000", style: "width:40%" %></td>
          </tr>
          <tr>
            <th><%= f.label :address, "住所" %></th>
            <td><%= f.text_field :address, autocomplete: "address", placeholder: "新潟県新潟市中央区0-0", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :telephone_number, "電話番号" %></th>
            <td><%= f.telephone_field :telephone_number, autocomplete: "telephone_number", placeholder: "00000000000", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@examle.com", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :homepage, "ホームページ" %></th>
            <td><%= f.url_field :homepage, autocomplete: "homepage", placeholder: "http://aaaaa.ne.jp", style: "width:100%" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "変更を保存", class: "btn btn-success my-3 px-5" %>
    </div>
  <% end %>
</div>

