<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-2">イベント新規登録</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @event.errors.any? %>
        <%= @event.errors.count %>件のエラーが発生しました
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= form_with model: @event, url: admin_events_path do |f| %>
    <div class="row">
      <div class="col-10 offset-md-1">
        <table class="table table-borderless">
          <tr>
            <th class="col-md-3 col-sm-4"><%= f.label :organizer_id, "主催者" %></th>
            <td><%= f.collection_select :organizer_id, Organizer.all, :id, :name %></td>
          </tr>
          <tr>
            <th><%= f.label :name, "イベント名" %></th>
            <td><%= f.text_field :name, autocomplete: "name", placeholder: "イベント名", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :introduction, "概要" %></th>
            <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "ここにイベント概要を記述します", style: "width:100%", rows: "7" %></td>
          </tr>
          <tr>
            <th><%= f.label :date, "日付" %></th>
            <td><%= f.date_field :date %></td>
          </tr>
          <tr>
            <th><%= f.label :place, "場所" %></th>
            <td><%= f.text_field :place, placeholder: "開催地", style: "width:100%" %></td>
          </tr>
          <tr>
            <th><%= f.label :schedule, "スケジュール" %></th>
            <td><%= f.text_area :schedule, autocomplete: "schedule", placeholder: "30日11:00　集合", style: "width:100%", rows: "5" %></td>
          </tr>
          <tr>
            <th><%= f.label :number_of_people, "募集予定人数" %></th>
            <td><%= f.number_field :number_of_people, placeholder: "10", min: "1" %>人</td>
          </tr>
          <tr>
            <th><%= f.label :image, "画像" %></th>
            <td><%= f.file_field :image, accept: "image/*" %><br>※任意</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "新規登録", class: "btn btn-success my-3 px-5" %>
    </div>
  <% end %>
</div>