<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-2">イベント詳細</h5>
    </div>
  </div>

  <div class="row">
    <div class="col offset-md-1">
      <table>
        <%= render 'public/shared/event_detail', event: @event %>
        <tr>
          <th class="pt-3 pr-5">応募人数</th>
          <td class="pt-3">
            <%= link_to admin_event_participations_path(@event.id) do %>
              <%= @event.participations.count %>名
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="pt-3 pr-5">募集状況</th>
          <td class="pt-3">
            <% if @event.is_recruiting == true %>
              <p class="text-success m-0"><strong>募集中</strong></p>
            <% else %>
              <p class="text-secondary m-0">締切</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="pt-3 pr-5">
        <%= image_tag @event.get_image.variant(resize: "250x200^", gravity: "center", crop: "250x200+0+0").processed %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to "編集する", edit_admin_event_path(@event.id), class: "btn btn-success my-3 px-5" %>
  </div>
</div>

