<div class="container">
  <div class="row">
    <div class="col offset-md-1">
      <p class="font-weight-bold mt-4 mx-3">管理者ログイン</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <p id="notice"><%= alert %><%= notice %></p>
  </div>

  <div class="row">
    <div class="col offset-md-2">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <table>
          <tr>
            <div class="field">
              <td class="col-3 pt-2 pr-4"><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examle.com", style: "width:100%" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
              <td class="col-3 pt-2 pr-4"><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password",  style: "width:100%" %></td>
            </div>
          </tr>

          <tr>
          <div class="actions">
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-primary mt-4 px-5" %></td>
          </div>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>