<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-2">いいねしたイベント</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-borderless">
        <tr class="mb-3">
          <th scope="col">イベント名</th>
          <th scope="col">開催日</th>
          <th scope="col">主催者</th>
          <th scope="col">募集状況</th>
          <th scope="col">いいね</th>
        </tr>

        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <%= link_to event_path(favorite.event_id) do %>
                <%= favorite.event.name %>
              <% end %>
            </td>
            <td><%= favorite.event.date.strftime('%Y/%m/%d') %></td>
            <td><%= favorite.event.organizer.name %></td>
            <td>
              <% if favorite.event.is_recruiting == true %>
                <p class="text-success m-0"><strong>募集中</strong></p>
              <% else %>
                <p class="text-secondary m-0">締切</p>
              <% end %>
            </td>
            <td>
              <%= link_to event_favorites_path(favorite.event_id), method: :delete do %>
                <i class="fas fa-heart color_pink"></i> <%= favorite.event.favorites.count %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <%= paginate @favorites %>
  </div>
</div>