<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <p><span class="bg-light font-weight-bold px-3">応募者一覧</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">応募日時</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @participations.each do |participation| %>
          <tbody>
            <tr>
              <td scope="row"><%= participation.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td>
                <%= link_to admin_user_path(participation.user.id) do %>
                  <%= participation.user.last_name %> <%= participation.user.first_name %>
                <% end %>
              </td>
              <td><%= participation.user.email %></td>
              <td>
                <% if participation.is_applying == false %>
                  <p class="text-success m-0"><strong>応募中</strong></p>
                <% else %>
                  <p class="text-secondary m-0">キャンセル</p>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>



  <!--<% @event.participation_users.each do |user| %>-->
  <!--  <%= user.last_name %>-->
  <!--<% end %>-->
<!--イベント側でview作る？IDが渡せないので-->

