<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-2"><%= @organizer.name %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 offset-md-1">
      <table class="table table-borderless">
        <tr>
          <th scope="row">紹介</th>
          <td><%=safe_join(@organizer.introduction.split("\n"),tag(:br))%></td>
        </tr>
        <tr>
          <th scope="row">郵便番号</th>
          <td><%= @organizer.postal_code %></td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td><%= @organizer.address %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @organizer.telephone_number %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @organizer.email %></td>
        </tr>
        <tr>
          <th scope="row">ホームページURL</th>
          <td><%= link_to @organizer.homepage, @organizer.homepage %></td>
        </tr>
      </table>
    </div>
  </div>
</div>