<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="my-4"><span class="bg-light font-weight-bold px-3"><%= @organizer.name %></span></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 offset-md-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row">詳細</td>
            <td><%=safe_join(@organizer.introduction.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <td scope="row">郵便番号</td>
            <td><%= @organizer.postal_code %></td>
          </tr>
          <tr>
            <td scope="row">住所</td>
            <td><%= @organizer.address %></td>
          </tr>
          <tr>
            <td scope="row">電話番号</td>
            <td><%= @organizer.telephone_number %></td>
          </tr>
          <tr>
            <td scope="row">メールアドレス</td>
            <td><%= @organizer.email %></td>
          </tr>
          <tr>
            <td scope="row">ホームページURL</td>
            <td><%= link_to @organizer.homepage, @organizer.homepage %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>