<div class="container">
  <div class="row justify-content-center mt-2">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-2 d-flex align-items-start mt-2">
      <h4 class="mt-1 mr-4 mb-3"><strong>登録情報</strong></h4>
      <%= link_to "編集する", edit_user_path, class: "btn btn-success mb-3 px-4 py-1" %>
    </div>

    <div class="col-md-7 offset-md-2">
      <table class="table table-bordered">
        <tr>
          <th class="table-active col-4">氏名</th>
          <td><%= @user.last_name %>　<%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-active pr-2">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-10 offset-md-2 d-flex align-items-start">
      <h4 class="mb-3 mt-1 mr-4"><strong>応募履歴</strong></h4>
      <%= link_to "一覧を見る", participations_path, class: "btn btn-primary mb-3 px-4 py-1" %>
    </div>
  </div>
</div>